<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="decorator" content="admin"/>
    <meta name="projectKey" content="$project.key"/>
    <meta name="projectId" content="$project.id"/>
    <meta name="admin.active.tab" content="$linkId"/>
    <meta name="admin.active.section" content="atl.jira.proj.config/projectgroup3"/>
    <title>Bulletin board</title>
</head>
<body>
    <h1>Bulletin board</h1>
    <hr />
    <button id="notice-add-button" class="aui-button"style="float:right;">Add</button>
        <section
            id="dialog-create-notice"
            class="aui-dialog2 aui-dialog2-large aui-layer"
            role="dialog"
            tabindex="-1"
            aria-modal="true"
            aria-labelledby="dialog-show-button--heading"
            aria-describedby="dialog-show-button--description"
            hidden
        >
            <header class="aui-dialog2-header">
                <h1 class="aui-dialog2-header-main" id="create-notice-create-name">Create</h1>
            </header>
            <div class="aui-dialog2-content" id="dialog-show-button--description">
                <form action="#" method="post" id="d1" class="aui">
                <fieldset>
                <div class="field-group">
                    <label for="create-notice-subject">제목<span class="aui-icon icon-required"> required</span></label>
                    <input class="text medium-long-field" type="text" id="create-notice-subject" name="create-notice-subject">
                    <div class="description">Default width input of a required field</div>
                </div>
                <div class="field-group">
                    <label for="create-notice-subject">내용</label>
                    <textarea class="textarea medium-long-field" rows="12" cols="12" name="create-notice-context" id="create-notice-context"></textarea>
                </div>
            </fieldset>
                </form>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="create-notice-button" class="aui-button aui-button-primary">Create</button>
                    <button id="form-dialog-close-button" class="aui-button aui-button-link">Close</button>
                </div>
            </footer>
        </section>
    <table id="custom-parser-example" class="aui">
    <thead>
    <tr>
        <th>Notice No.</th>
        <th>Writer</th>
        <th>Title</th>
        <th>Create Date</th>
        <th>another something</th>
    <tr>
    </thead>
    <tbody>
    #foreach ($notice in $noticeLists)
    <tr class="notice-tr-class" value=$notice.id>
        <td class="noticeNo">$notice.id</td>
        <td class="notice-writer">$notice.writer</td> 
        <td class="notice-title">$notice.title</td>
        <td class="notice-date">$notice.date</td>
        <td class="notice-buttons">
            <div class="aui-buttons">
            <button class="aui-button aui-dropdown2-trigger aui-button-split-more" aria-controls="split-container-dropdown-$notice.id">Split more</button>
            </div>
            <!-- Be sure to put your dropdown markup outside the button group...
                otherwise the buttons will get jaggy edges! -->
            <aui-dropdown-menu id="split-container-dropdown-$notice.id">
                <aui-item-link class="notice-edit-button">Edit</aui-item-link>
                <aui-item-link class="notice-delete-button">Delete</aui-item-link>
            </aui-dropdown-menu>
        </td>
    </tr>
    #end
    </tbody>

</table>
</body>
</html>

<script type="text/javascript">
    
</script>

$webResourceManager.requireResourcesForContext("jira-notice-plugin-context")

