<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="decorator" content="admin"/>
    <meta name="projectKey" content="$project.key"/>
    <meta name="projectId" content="$project.id"/>
    <meta name="admin.active.tab" content="$linkId"/>
    <meta name="admin.active.section" content="atl.jira.proj.config/projectgroup3"/>
    <title>Bulletin board</title>
</head>
    <body>
        <h1>Bulletin board</h1>
        <hr />
        <form action="#" method="post" id=$notice.id class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="d-fname">Writer<span class="aui-icon icon-required"> required</span></label>
                    <input class="text medium-long-field" type="text" id="d-fname" name="d-fname" value=$notice.writer>
                    <div class="aui-buttons"  style="float:right;">
                    <button class="aui-button aui-dropdown2-trigger aui-button-split-more" aria-controls="split-container-dropdown">Split more</button>
                    </div>
                    <!-- Be sure to put your dropdown markup outside the button group...
                        otherwise the buttons will get jaggy edges! -->
                    <aui-dropdown-menu id="split-container-dropdown">
                        <aui-item-link>Delete</aui-item-link>
                    </aui-dropdown-menu>
                </div>
                <div class="field-group">
                    <label for="d-fname">제목<span class="aui-icon icon-required"> required</span></label>
                    <input class="text medium-long-field" type="text" id="d-fname" name="d-fname" value=$notice.title>
                    <div class="description"></div>
                </div>
                <div class="field-group">
                    <label for="d-ftextarea">내용</label>
                    <textarea class="textarea medium-long-field" rows="12" cols="12" name="licenseKey" id="licenseKey">$notice.context</textarea>
                </div>
                <div class="field-group">
                    <label for="d-ftextarea">Date</label>
                    <input class="aui-date-picker" id="demo-range-2" type="date" value=$notice.date />
                    <button id="update-complete-button" class="aui-button aui-button-primary" style="float:right;">완료</button>
                </div>
            </fieldset>
        </form>
    </body>
</html>

<script type="text/javascript">
    
</script>

$webResourceManager.requireResourcesForContext("notice-update")

