<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="decorator" content="admin"/>
    <meta name="projectKey" content="$project.key"/>
    <meta name="projectId" content="$project.id"/>
    <meta name="admin.active.tab" content="$linkId"/>
    <meta name="admin.active.section" content="atl.jira.proj.config/projectgroup3"/>
    <title>Bulletin board</title>
</head>
    <body>
        <div id="notice-all">
            <div id="notice-header">
                <h1>Bulletin board</h1>
                <hr />
            </div>
            <div id="notice-body">
                <form action="#" method="post" id="notice-board-update-form" data-noticeid=$notice.id class="aui">
                    <fieldset>
                        <div class="field-group">
                            <label for="notice-writer-field">Writer<span class="aui-icon icon-required"> required</span></label>
                            <input class="text medium-long-field" type="text" id="notice-writer-field" name="notice-writer-field" value=$notice.writer>
                        </div>
                        <div class="field-group">
                            <label for="update-notice-subject">제목<span class="aui-icon icon-required"> required</span></label>
                            <input class="text medium-long-field" type="text" id="update-notice-subject" name="update-notice-subject" value=$notice.title>
                            <div class="description"></div>
                        </div>
                        <div class="field-group">
                            <label for="update-notice-context">내용</label>
                            <textarea class="textarea medium-long-field" rows="12" cols="12" name="update-notice-context" id="update-notice-context">$notice.context</textarea>
                        </div>
                        <div class="field-group">
                            <label for="notice-date-field">Date</label>
                            <input class="text medium-long-field" type="text" id="notice-date-field" name="notice-date-field" value="$notice.date">
                        </div>
                    </fieldset>
                </form>
                <div id="notice-right-sidebar">
                    <div class="aui-buttons" id="notice-aui-button">
                    <button class="aui-button aui-dropdown2-trigger aui-button-split-more" aria-controls="split-container-dropdown">Split more</button>
                    </div>
                    <aui-dropdown-menu id="split-container-dropdown">
                        <aui-item-link class="notice-delete-button2">Delete</aui-item-link>
                    </aui-dropdown-menu>
                    <div id="notice-complete">
                        <a id="update-notice-complete-button" class="aui-button aui-button-primary" style="float:right;">완료</a>
                    </div>
                </div>
            </div>
            
        <div>   
            hello!
        </div>
    </div>
    </body>
</html>

<script type="text/javascript">
    
</script>

$webResourceManager.requireResourcesForContext("notice-update")

